*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
    font-weight: var(--fw-regular);
    font-size: var(--fs-16);
    line-height: var(--lh-150);
    letter-spacing: var(--ls-default);
    color: var(--neutral-900);
    font-family: var(--font-main);
}


