
.m-auto {
    margin: 0 auto;
}

.section-block {
    padding-bottom: var(--spacing-3xl);
    border-bottom: 1px solid var(--neutral-300);
}

.title-block {
    margin-bottom: var(--spacing-l);
}

/* site-header */
.site-header {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    margin-right: var(--spacing-3xl);
}

.header__nav {
    margin-right: auto;
}

.header__nav__list {
    display: flex;
    gap: var(--spacing-2xl);
}

.header__nav__link {
    padding: var(--spacing-s) 0;
}

.header__nav__link:hover,
.user a:hover {
    color: var(--neutral-600);
}

.user .bi {
    font-size: 18px;
}

.top-banner {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true");
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: var(--neutral-white);
    padding-top: 152px;
    padding-bottom: 152px;
}


/* site-main */
.site-main {
    padding-top: var(--spacing-5xl);
    padding-bottom: var(--spacing-5xl);
}


/* site-main / quote */
.quote {
    text-align: center;
    margin-bottom: var(--spacing-3xl);
    background-color: var(--primary-100);
    padding: var(--spacing-xl);  
    border-radius: var(--radius-sm);
}

.quote__title {
    color: var(--primary-400);
    margin-bottom: var(--spacing-s);
}

.quote p:not(:last-child) {
    margin-bottom: var(--spacing-xxs);
}


/* site-main / image-wrapper */
.image-wrapper {
    margin-bottom: var(--spacing-l);
}


/* site-main / intro */
.intro {
    margin-bottom: var(--spacing-3xl);
}

.intro__subtitle {
    color: var(--primary-400);
    margin-bottom: var(--spacing-m);
}

.intro p:first-of-type {
    margin-bottom: var(--spacing-m);
}


/* site-main / history */
.history{
    margin-bottom: var(--spacing-3xl);
}

.history__list {
    list-style-type: disc;
    padding-left: var(--spacing-l);
}

.history__year {
    border-right: 1px solid var(--neutral-900);
    padding-right: var(--spacing-xs);
    margin-right: var(--spacing-xs);
}

.history__list li:not(:last-child) {
    margin-bottom: var(--spacing-s);
}


/* site-main / concept */
.concept {
    margin-bottom: var(--spacing-3xl);
}

.concept__list .concept__item:not(:last-child) {
    margin-bottom: var(--spacing-s);  
}
.concept__item {
    border-left: 3px solid var(--neutral-300);
    padding-left: var(--spacing-s);
}


/* site-main / story */
.story__list{
    color: var(--primary-400);
}

.story__item {
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    text-decoration: underline;
    text-underline-offset: var(--spacing-xxs);
    transition: transform 0.2s ease;
    transform-origin: left;
}

.story__item:hover {
    transform: scale(1.2);
    text-decoration: none;
}

.story__item:active {
    transform: scale(0.8);
}

.story__item .bi {
    padding-right: var(--spacing-xs);
    vertical-align: bottom;
}


/* site-footer */
.site-footer {
    padding: var(--spacing-5xl);
    background-color: var(--neutral-100);
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--spacing-l);
    border-bottom: 1px solid var(--neutral-300);
    margin-bottom: var(--spacing-xl);
}

.footer__nav__list {
    display: flex;
    align-items: center;
    gap: var(--spacing-2xl);
}

.footer__nav__link{
    padding: var(--spacing-s);
}

.footer__nav__link:hover {
    color: var(--neutral-600);
}

.copyright {
    text-align: center;
    color: var(--neutral-600);
}

.copyright p:first-child {
    margin-bottom: var(--spacing-xxs);
}
