
.m-auto {
    margin: 0 auto;
}

.section-block {
    padding-bottom: var(--spacing-3xl);
    border-bottom: 1px solid var(--neutral-300);
}

.title-block {
    margin-bottom: var(--spacing-l);
}

/* header */
.header {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true");
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: var(--neutral-white);
    padding-top: 152px;
    padding-bottom: 152px;
}

/* main */
.main {
    padding-top: var(--spacing-5xl);
    padding-bottom: var(--spacing-5xl);
}

/* main / quote */
.quote {
    text-align: center;
    margin-bottom: var(--spacing-3xl);
    background-color: var(--primary-100);
    padding: var(--spacing-xl);  
    border-radius: var(--radius-sm);
}

.quote__title {
    color: var(--primary-400);
    margin-bottom: var(--spacing-s);
}

.quote p:not(:last-child) {
    margin-bottom: var(--spacing-xxs);
}

/* main / image-wrapper */
.image-wrapper {
    margin-bottom: var(--spacing-l);
}

/* main / intro */
.intro {
    margin-bottom: var(--spacing-3xl);
}

.intro__subtitle {
    color: var(--primary-400);
    margin-bottom: var(--spacing-m);
}

.intro p:first-of-type {
    margin-bottom: var(--spacing-m);
}

/* main / history */
.history{
    margin-bottom: var(--spacing-3xl);
}

.history__list {
    list-style-type: disc;
    padding-left: var(--spacing-l);
}

.history__year {
    border-right: 1px solid var(--neutral-900);
    padding-right: var(--spacing-xs);
    margin-right: var(--spacing-xs);
}

.history__list li:not(:last-child) {
    margin-bottom: var(--spacing-s);
}

/* main / concept */
.concept {
    margin-bottom: var(--spacing-3xl);
}

.concept__list .concept__item:not(:last-child) {
    margin-bottom: var(--spacing-s);  
}
.concept__item {
    border-left: 3px solid var(--neutral-300);
    padding-left: var(--spacing-s);
}

/* main / story */
.story__list{
    color: var(--primary-400);
}

.story__item {
    display: inline-block;
    padding-top: var(--spacing-xs);
    padding-bottom: var(--spacing-xs);
    text-decoration: underline;
    text-underline-offset: var(--spacing-xxs);
    transition: transform 0.2s ease;
    transform-origin: left;
}

.story__item:hover {
    transform: scale(1.2);
    text-decoration: none;
}

.story__item:active {
    transform: scale(0.8);
}

.story__item .bi {
    padding-right: var(--spacing-xs);
    vertical-align: bottom;
}

/* footer */
.footer {
    background-color: var(--neutral-100);
    padding-top: var(--spacing-5xl);
    padding-bottom: var(--spacing-5xl);
    color: var(--neutral-600);
    text-align: center;
}

.footer p:first-child {
    margin-bottom: var(--spacing-xxs);
}
