/* header */
.header {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/73cf206013997d2173d20441794095af8b1ee3b9/2025-week1/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 105px;
    height: 30px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-right: var(--spacing-3xl);
    transition: transform 0.3s ease, color 0.3s ease;
}

.header__nav {
    margin-right: auto;
}

.header__nav__list {
    display: flex;
    gap: var(--spacing-2xl);
}

.header__nav__link {
    padding: var(--spacing-s) 0;
}

.header__nav__link:hover,
.user a:hover {
    color: var(--neutral-600);
}

.user .bi {
    font-size: 18px;
}


/* main */
.main {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
}

.main h2 {
    margin-bottom: var(--spacing-l);
}


/* main / breadcrumb  */
.breadcrumb {
    display: flex;
    margin-bottom: var(--spacing-l);
}

.breadcrumb__item + .breadcrumb__item::before {
    content: "/";
    padding: 0 var(--spacing-s);
    font-weight: 700;
    color: var(--neutral-300);
}

.breadcrumb .breadcrumb__item:first-child {
    color: var(--neutral-600);
}

.breadcrumb .breadcrumb__item:not(:first-child):hover {
    color: var(--neutral-600);
}


/* main / main__nav__link */
.main__category__link {
    padding: var(--spacing-s) 0;
}

li:not(:last-child) .main__category__link {
    margin-bottom: var(--spacing-m);
}

li:first-child .main__category__link:hover {
    color: var(--primary-500);
}

.main__category__active,
.main__category__link:hover {
    color: var(--primary-400);
}


/* main / main__product-list */
.main__product-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-3xl);
}

.main__product-list li:nth-child(-n+6) {
    margin-bottom: var(--spacing-3xl);
}

.main__product-list img {
    margin-bottom: var(--spacing-s);
}

.main__product-list h3 {
    margin-bottom: var(--spacing-xxs);
}


/* main / pagination */
.pagination {
    display: flex;
    gap: var(--spacing-xs);
    justify-content: center;
    align-items: center;
}

.pagination .bi {
    font-size: var(--fs-20);
}

.btn-prew,
.btn-next {
    padding: 10px;
}

.btn-prew {
    cursor: default;
}

.page__btn {
    padding: 8px 15px;
}

.pagination li:first-child .btn {
    margin-right: var(--spacing-s);
}

.pagination li:last-child .btn {
    margin-left: var(--spacing-s);
}

.page__active,
.pagination .btn:not(:disabled):hover {
    font-weight: 500;
    background-color: var(--primary-300);
}


/* promo-banner */
.promo-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-200);
    padding: var(--spacing-l) 0;
    gap: var(--spacing-l);
    margin-top: var(--spacing-3xl);
}

.banner__btn {
    background-color: var(--neutral-900);
    color: var(--neutral-white);
    border-radius: var(--radius-sm);
}

.banner__btn:hover {
    background-color: var(--neutral-700);
}


/* footer */
.footer {
    padding: var(--spacing-5xl);
    background-color: var(--neutral-100);
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--spacing-l);
    border-bottom: 1px solid var(--neutral-300);
    margin-bottom: var(--spacing-xl);
}

.footer__nav__list {
    display: flex;
    align-items: center;
    gap: var(--spacing-2xl);
}

.footer__nav__link{
    padding: var(--spacing-s);
}

.footer__nav__link:hover {
    color: var(--neutral-600);
}

.copyright {
    text-align: center;
    color: var(--neutral-600);
}

.copyright p:first-child {
    margin-bottom: var(--spacing-xxs);
}