/* header */
.header {
    padding: var(--spacing-m) 0;
    display: flex;
    align-items: center;
}

.header .logo {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/73cf206013997d2173d20441794095af8b1ee3b9/2025-week1/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 105px;
    height: 30px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-right: var(--spacing-3xl);
    transition: transform 0.3s ease, color 0.3s ease;
}

.header__nav {
    margin-right: auto;
}

.header__nav__list {
    display: flex;
    gap: var(--spacing-2xl);
}

.header__nav__link {
    padding: var(--spacing-s) 0;
}

.header .logo:hover,
.header__nav__link:hover,
.user a:hover {
    color: var(--neutral-600);
}

.user .bi {
    font-size: 18px;
}

/* main */
.main {
    padding: var(--spacing-xl) 0;
    margin-bottom: var(--spacing-3xl);
}

.main h2 {
    margin-bottom: var(--spacing-l);
}

/* main / breadcrumb  */
.breadcrumb {
    display: flex;
    margin-bottom: var(--spacing-l);
}

.breadcrumb__item + .breadcrumb__item::before {
    content: "/";
    padding: 0 var(--spacing-s);
    font-weight: 700;
    color: var(--neutral-300);
}

.breadcrumb .breadcrumb__item:first-child {
    color: var(--neutral-600);
}

.breadcrumb .breadcrumb__item:not(:first-child):hover {
    color: var(--neutral-600);
}


/* main / main__nav__link */
.main__category__link {
    padding: var(--spacing-s) 0;
}

li:not(:last-child) .main__category__link {
    margin-bottom: var(--spacing-m);
}

li:first-child .main__category__link:hover {
    color: var(--primary-500);
}

.main__category__active,
.main__category__link:hover {
    color: var(--primary-400);
}

/* main / main__product-list */
.main__product-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--spacing-3xl);
}

.main__product-list li:nth-child(-n+6) {
    margin-bottom: var(--spacing-3xl);
}

.main__product-list img {
    margin-bottom: var(--spacing-s);
}

.main__product-list h3 {
    margin-bottom: var(--spacing-xxs);
}

/* main / pagination */
.pagination {
    display: flex;
    gap: var(--spacing-xs);
    justify-content: center;
    align-items: center;
}

.pagination .bi {
    font-size: var(--fs-20);
}

.page__btn {
    padding: 8px 15px;
}

.pagination li:first-child .btn {
    margin-right: var(--spacing-s);
}

.pagination li:last-child .btn {
    margin-left: var(--spacing-s);
}

.page__active,
.pagination .btn:hover {
    font-weight: 500;
    background-color: var(--primary-300);
}
